@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-sans text-base text-black dark:text-white;
  }
}

@layer utilities {
  /* Ẩn thanh cuộn nhưng vẫn giữ tính năng cuộn */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE và Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Ẩn mũi tên tăng giảm của input number */
  .hide-arrows::-webkit-inner-spin-button,
  .hide-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-arrows {
    -moz-appearance: textfield; /* Firefox */
  }
}

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto px-6 sm:px-8 lg:px-12;
  }
  .card {
    @apply bg-white dark:bg-[#0b1a31] shadow-lg sm:shadow-xl/30 shadow-blue-900 p-4 lg:p-6 rounded-xl border border-gray-200 dark:border-gray-800 overflow-x-hidden;
  }
  .dashboard-card {
    @apply min-h-48 flex flex-col justify-between;
  }
  .icon {
    @apply bg-blue-900 rounded-full flex items-center justify-center;
  }
  .spinner {
    @apply animate-spin w-8 h-8 flex items-center flex-1 border-3 border-r-blue-300 border-blue-500 rounded-full;
  }
  .card-figure {
    @apply mt-9 text-3xl font-bold;
  }
  .info-btn {
    @apply cursor-pointer bg-blue-500 text-white rounded-xl border-r-4 border-r-blue-600 border-b-4 border-b-blue-600
    hover:scale-95 duration-500;
  }
  .danger-btn {
    @apply cursor-pointer bg-red-700 text-white rounded-xl border-r-4 border-r-red-800 border-b-4 border-b-red-800
    hover:scale-95 duration-500;
  }
  .input-box {
    @apply bg-white dark:bg-[#0b1a31] outline-none px-4 py-2 rounded-xl border border-gray-200 dark:border-gray-800;
  }
  .form-input {
    @apply flex flex-col gap-1.5;
  }
  .err-msg {
    @apply text-red-600 italic;
  }
  .btn-action-icon {
    @apply text-gray-400 hover:text-blue-500 cursor-pointer duration-200;
  }
  .btn-action-icon.active {
    @apply text-blue-500;
  }
}
